/* streak commit
 */
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    box-shadow: rgba(57,53,53) 3px 3px 25px;
    position: sticky;
    top: 0;
    background-color:white;
}
@media(max-width: 10px){
    header{
        background: red;
        height:122px;
    }
}

.nav{
    flex-direction: column;
    align-items: justify;
}
.left img{
    width :120;
    height :100%;
}
.container{
    margin: 13px 0px;
    padding: o 10vw;
    margin: auto;
    background-color: black;
}
nav{
    padding:0 20px;
}
nav ul li{
    font-size:small;
    list-style: none;
    font-size: 24;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 20px;
    box-sizing: border-box;
    background-color:white;
    color: black;
    height: 5%;
    width: 7vw;
    padding-top: 4px;
    padding-bottom: 30px;
    border-radius: 10px;
}
input{
    width :28vw;
    padding: 10px;
    background-color:white;
    border-color:white;
    border-radius: 8px;
    margin-right: 15px;

    
}
.palceholder{
    color:white
}
.section1{
    background: white;
    
}
.homeimg{
    width:180px;
    padding:0px 0px 0px 10px;
    margin: 10px 0px 10px 0px;
    height:22%;
    transition: 0.5s;
}
.flex-wrap{
    max-height:250px;
    overflow-x:auto;
    
}
.flex-wrap ::-webkit-scrollbar{
    width:0%;
    height:0%;
    scrollbar-shadow-color: white;
}
.foot{
    padding:20px;
    text-align: center;
    box-shadow: 5px;;
}
.right_img{
    height: 20px;;
}
.just_box{
    height:45%;
    background-color: black;
    padding: 130px;
    text-align: right;
    font-size: 195%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 20%;
    font-stretch: expanded;
    display:flex;
    padding-left: 0px;
    padding-right:100px;
}
.sample_heading{
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.sample_text{
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.just_box2{
    height:40%;
    background-color: rgb(38, 34, 34);
    padding: 100px;
    text-align: left;
    font-size: 195%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-right:0;
    font-stretch: expanded;
    display: flex;
    
}
.just_box3{
    height:40%;
    background-color: black;
    padding: 130px;
    text-align: right;
    font-size: 195%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 20%;
    font-stretch: expanded;
    
}
@media only screen and (max-width:600px){
    .disc{
        width:100vw;
        height:50vh;
    }
    .flex{
        width:100vw;
        height:30vh;
    }
}
.cube{
    
    height:88%;
    margin-left:auto;
    z-index:2;
    width:80%;
}
.leftbox{
    width:50%;
}
.rolldown{
    height:92%;
    width:100%;
}
.rightbox{
    padding-right:8%;
    width:100%;
}
.dropdowns{
    box-sizing: border-box;
    height:30px;
    width:80px;
    position:relative;
    background-color:rgb(83,66,66);
    color:white;
    text-align:center;
    line-height: 30px;
    display: block;
    border-radius:10px;
    font-size: 14px;
    margin-top:4px;
    margin-bottom:2px;
    text-decoration: none;
    display:none;
}
.dropdowns:hover{
    background-color:rgb(89, 133, 150);
    color:black;
}
.mard:hover{
    background-color:antiquewhite;
    color:black;
    cursor:pointer;
}
.mard:hover .dropdowns{
    display:block;
}
.lastd{
    background-color: black;
    color:white;
    text-align: left;
    border-radius: 10%;
    margin:20px;
    margin-right:40px;
}
.lastsec{
    display: flex;
}
.cpr{
    padding-top:4%;
}
.homeimg:hover{
    transform:scale(1.2);
    transition: bottom 1s, left 1s;
}
.homeimg{
    cursor: pointer;
}
